
#templatemo_menu ul li a {
	display: block;
	float: left;
	width: 100px;
	height: 22px;
	padding: 5px 10px;
	margin-right: 2px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
    color: #ffffff;
}

